---
import App from "../components/App.jsx";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" href="/favicon.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="Description" content="Lucas Zhu's personal website" />
        <title>Lucas Zhu | SDE</title>
    </head>
    <body>
        <App client:load />
    </body>
</html>
